<html>

<head>
  <meta charset="utf-8">
  <title>飞箭国际物流</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="format-detection" content="telephone=no">
  <link href="http://www.hxyt56.cn/mobile/images/touch-icon.png" rel="apple-touch-icon-precomposed">
  <link href="http://www.hxyt56.cn/mobile/images/favicon.ico" rel="shortcut icon" type="image/x-icon">
  <link href="./themes/default/css/jiyun.css" rel="stylesheet" type="text/css">
  <link href="./themes/default/css/new_0515.css" rel="stylesheet" type="text/css">
  <link href="./themes/default/css/jiyun.css" rel="stylesheet" type="text/css">
  <link href="./themes/default/css/new_0515.css" rel="stylesheet" type="text/css">
  <style>
    .resutlt-cloumn {
      width: 100%;
      padding: 2%;
      background: #88cdfe;
      overflow: hidden;
      text-overflow: ellipsis;
      -o-text-overflow: ellipsis;
      white-space: nowrap;
      text-align: center;
      color: #fff;
    }

    .content-noinfo {
      height: 100px;
      line-height: 100px;
      text-align: center;
    }
  </style>
</head>

<body style="background-color: #ffffff;">
  <div id="app">
    <template>
      <div class="wrap">
        <div class="comx">
          <div class="find">
            <p class="kuai">包裹查询</p>
            <p class="kuai1">为您查询快递运单最新状态</p>
            <div class="bao">
              <div class="choose">
                <div class="name">快递单号</div>
                <div class="select">
                  <input v-model="model.order_num" type="text" placeholder="请输入查询的快递单号" class="shu">
                </div>
              </div>
            </div>
            <input @click="handleSelect" type="button" value="查询" name="sub" id="sub" class="btn111">
          </div>

          <div class="fullscreen" v-if="tableData.length>0">
            <div data-role="content" class="search_p" style="overflow:hidden">
              <div class="content-primary">
                <div class="resutlt-cloumn">快递单号：{{model.order_num}} 物流信息</div>
                <table width="100%" border="0" cellpadding="0" cellspacing="0" align="center"
                  style="margin:0px auto; line-height:150%; ">
                  <tbody v-for="row in tableData">
                    <!-- class="wait" -->
                    <tr :class='[!row.lastFlag ? "":(row.update_Status=="已签收"?"checked":"wait")]'>
                      <td class="col1">
                        <span class="result-date">{{row.update_Date}}</span>
                        <span class="result-time">{{row.update_Time}}</span>
                      </td>
                      <td class="colstatus">&nbsp;</td>
                      <td class="col2">
                        <span>{{row.update_Status}}</span><br /><span class="result-remarks">{{row.remarks}}</span>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <div class="fullscreen" v-if="info_flag">
            <div data-role="content" class="search_p" style="overflow:hidden">
              <div class="content-noinfo">
                抱歉，该订单暂无物流信息
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="center_copyright">
        <p>CopyRight©2020飞箭国际快递</p>
      </div>
      <div class="buttom_placeholder"></div>
      <div class="tab_bar">
        <ul>
          <li class="tab_bar_li"> <a href="./index.html"> <img src="./themes/default/images/buttom_icon01.png"
                alt="集运首页">
              <p>首页</p>
            </a> </li>
          <li class="tab_bar_li"> <a href="./search.html"> <img src="./themes/default/images/buttom_icon02_on.png"
                alt="包裹查询">
              <p class="tab_bar_li_on">包裹查询</p>
            </a> </li>
          <li class="tab_bar_li_yb">
            <a href="./create.html">
              <span class="tab_bar_li_ybsp">录入<br>包裹</span>
            </a>
          </li>
          <li class="tab_bar_li" style="margin-left:20%"> <a href="./index.html"> <img
                src="./themes/default/images/buttom_icon03.png" alt="运费估算">
              <p>运费估算</p>
            </a> </li>
          <li class="tab_bar_li"> <a href="./index.html"> <img src="./themes/default/images/buttom_icon04.png"
                alt="会员中心">
              <p>会员中心</p>
            </a> </li>
        </ul>
      </div>
    </template>
  </div>
</body>

</html>
<script type="text/javascript" src="./scripts/vue.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>
  var app = new Vue({
    el: '#app',
    data() {
      return {
        model: {},
        info_flag: false,
        tableData: []
      }
    },
    methods: {
      handleSelect: function () {
        console.log(this.model)
        axios.get('http://www.code-data.cn/wechartapi/api/order/GetOrderInfo', { params: this.model }).then(response => {
          this.tableData = response.data.data.list;
          if (this.tableData.length > 0)
            this.info_flag = false;
          else
            this.info_flag = true;
          this.$message({
            message: "添加成功",
            type: action,
          });
        })
      }
    }
  });
</script>